<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div>
        <h1>영화 등록 시스템</h1>
        <p>
            <a href="/movie/create">영화 등록</a>
            <a href="/movie/read">영화 목록</a>
            <a href="/movie/create/actor">배우 등록</a>
            <a href="/movie/read/actor">배우 목록</a>
            <a href="/movie/create/director">감독 등록</a>
            <a href="/movie/read/director">감독 목록</a>
            <a href="/want/create">보고픈 영화 등록</a>
            <a href="/want/read">보고픈 목록</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>