<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>뉴스 수정</title>
</head>
<body>
    <h1>관리자 뉴스 수정</h1>
    <div sec:authorize="isAuthenticated()">
        <p>작성자: <span th:text="${#authentication.getPrincipal().getUsername()}"></span></p>
    </div>
    <hr>
    <form th:action="@{'/updateNews/' + ${news.newsId}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="newsId" th:value="${news.newsId}"/>

        <div>
            <div>
                제목:<input type="text" name="newsTitle" th:value="${news.newsTitle}">
            </div>
            <div>
                <textarea name="newsContent" th:text="${news.newsContent}"></textarea>
            </div>
            <div>
                첨부파일:<input type="file" name="newsFile">
            </div>
            <input type="submit" value="수정">
        </div>
    </form>
</body>
</html>