<!DOCTYPE html>

<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>read ActorForm</title>
  </head>
  <body>
    <h1>배우 중복 체크</h1>
    <hr>
    <form action="/movie/read/actor" method="post">
      <input type="text" id="actorName" name="actorName" placeholder="배우 검색">
      <input type="submit" value="중복 확인">
    </form>
    <br>
    <br>
    <div>
      <table>
        <thead>
        <tr>
          <th>배우 이미지</th>
          <th>배우 코드</th>
          <th>배우 이름</th>
<!--          <th>배우 대표작1</th>-->
<!--          <th>배우 대표작2</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor : ${actors}">  <!--리스트 안 모든 객체를 loop를 돌면서 아래 로직 실행-->
          <td>
            <img th:src="'/img/'+ ${actor.actorProfile}+ '/'">
          </td>

          <td th:text="${actor.actorId}"></td>
          <td th:text="${actor.actorName}"></td>
<!--          <td th:text="${배우대표작1}"></td>-->
<!--          <td th:text="${actor.movieName}"></td>-->
          <td><input type="button" value="선택" th:onclick="|actor_checked('${actor.actorId}');|"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
        <br>
        <br>
        <div style="display: inline;">중복확인 클릭 후 아래에 배우 검색 결과가 없으시다면?</div>&nbsp;&nbsp;
        <a th:href="@{/movie/create/actor}" style="color: red;">배우 추가</a>
    </div>
  </body>
  <script type="text/javascript">
    $('input[type="submit"]').on('click', function(e){
        e.preventDefault();
    });

    function actor_checked(id){
      // opener를 통해 부모 window 객체 접근
      opener.document.getElementById("actorId").value = id;
      // 팝업창 닫기
      window.close();
    }
  </script>
</html>