<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>비밀번호 변경 페이지</title>
    <link href="css/admin_styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">비밀번호 변경</h3></div>
                                <div class="card-body">
<!--                                    <div class="small mb-3 text-muted">새 비밀번호와 새 배ㅁ</div>-->
                                    <form th:action="@{/change_pw}" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputUserId" type="text" name="userId" th:value="${userId}" placeholder="아이디" readonly>
<!--                                            <input class="form-control" id="inputUserId" type="text" name="userId" placeholder="아이디" />-->
                                            <label for="inputUserId">아이디</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword" type="password" name="userPw" placeholder="새 비밀번호" />
                                            <label for="inputPassword">새 비밀번호</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="새 비밀번호 확인" />
                                            <label for="inputPasswordConfirm">새 비밀번호 확인</label>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" th:href="@{/login}">로그인으로 돌아가기</a>
                                            <input class="btn btn-primary" type="submit" value="비밀번호 변경">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; MVWK 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>

</html>