<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인 페이지</title>
</head>
<body>
    <h1>비밀번호 확인 페이지입니다.</h1>
    <div>
      <div>
          Logo <span>비밀번호 확인</span>
      </div>

    </div>
    <div sec:authorize="isAuthenticated()">
      <span sec:authentication="name"></span>님의 회원정보를 안전하게 보호하기 위해<br>
      비밀번호를 한번 더 확인해 주세요
    </div>
    <div>
      <form th:action="@{/member/check_pw}" method="post">
<!--            <input type="hidden" th:field="*{user.userId}">-->
            <input type="password" name="userPw" placeholder="비밀번호"><br>
            <input type="submit" value="확인">
      </form>
    </div>
</body>
</html>