<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="main_header" id="header"></div>
    <a th:href="'/member/follower/' + ${userId}">
        <button>팔로워 목록</button>
    </a>
    <a th:href="'/member/following/' + ${userId}">
        <button>팔로잉 목록</button>
    </a>

    <h1><span th:text="${userId}"></span>의 팔로워 페이지</h1>
    <table>
        <tr th:each="follower : ${followerList}">
            <td>
                <a th:text="${follower.fromUser.userId}" th:href="'/member/mypage/' + ${follower.fromUser.userId}"></a>
            </td>
            <td>
                <button>팔로우</button>
            </td>
        </tr>
    </table>
</body>
</html>