<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="main_header" id="header"></div>
    <a th:href="'/member/followerList/' + ${userId}">
        <button>팔로워 목록</button>
    </a>
    <a th:href="'/member/followeeList/' + ${userId}">
        <button>팔로잉 목록</button>
    </a>

    <h1><span th:text="${userId}"></span>의 팔로잉 페이지</h1>
    <table>
        <tr th:each="followees : ${followeeList}">
            <td>
                <a th:text="${followees.followee.userId}" th:href="'/member/mypage/' + ${followees.followee.userId}"></a>
            </td>

            <td>
                <div class="btn_follow" th:switch="${followees.followee.userId}">
                    <span th:case="${currentUserId}">
                        나
                    </span>
                    <span th:case="*">
                        <span th:switch="${isFollowing}">
                            <span th:case="true">
                                <button>언팔로우</button>
                            </span>
                            <span th:case="false">
                                 <button type="submit">팔로우</button>
                            </span>
                        </span>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>