<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정보수정 페이지</title>
</head>
<body>
    <h1> 회원 정보 수정 </h1>
    <hr>
    <form th:action="@{'/updateUser/' + ${user.userId}}" method="post">
        <input type="hidden" name="_method" value="put"/>
        <div>
            <label>아이디*</label><input type="text" th:field="*{user.userId}" readonly>
        </div>
        <div>
            <label>현재 비밀번호*</label><input type="password" required>
        </div>
        <div>
            <label>새 비밀번호</label><input type="password" th:field="*{user.userPw}">
        </div>
        <div>
            <label>비밀번호확인</label><input type="password">
        </div>
        <div>
            이름*<input type="text" th:field="*{user.userName}" readonly>
        </div>
        <div>
            <label>이메일*</label><input type="email" th:field="*{user.userMail}" required>
        </div>
        <div>
            <label>휴대폰*</label><input type="text" th:field="*{user.userCellNum}" required>
        </div>
        <div>
            <label>성별*</label>
            <input type="radio" th:field="*{user.userGender}" th:value="1" >남자
            <input type="radio" th:field="*{user.userGender}" th:value="2" >여자
        </div>
        <div>
            <label>생년월일*</label>
            <input type="text" th:field="*{user.userBirth}">
<!--            <span th:text="${#dates.format(user.userBirth, 'yyMMdd')}"></span>-->
        </div>
        <div>
            <label>MBTI</label>
            <input type="text" th:field="*{user.userMbti}">
        </div>
        <div>
            <input type="submit" value="회원 정보 수정">
        </div>
    </form>
    <form th:action="@{'/deleteUser/' + ${user.userId}}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="회원 탈퇴">
    </form>


</body>
</html>