<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>관심 영화 페이지</title>
    <style>
        .pref {
            text-align: center;
            width: 161px;
            height: 224px;
        }
        .want-to-see-box {
            width: 161px;
            height: 222px;
        }
        .box {
            border: black 1px solid;
            width: 145px;
            height: 168px;
            text-align: center;
        }
        img {
            width: 150px;
            height: 170px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="main_header" id="header"></div>

    <h1><span th:text="${userId}"></span>의 관심 영화 페이지</h1>

    <div class="wrapper">
        <div  th:each="wantToSee : ${wantToSeeList}">
            <div class="pref">
                <div class="want-to-see-box box">
                    <img th:src="@{'/img/' + ${wantToSee.getMovie().getMovieProfile()}}">
                </div>
                <div>
                    <p th:text="${wantToSee.getMovie().getMovieName()}"></p>
                    <p th:text="'평점 ★' + ${wantToSee.getMovie().getAvgRating()}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>