<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head><!-- Basic need --><title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#"><!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no"><!-- CSS files -->
    <link rel="stylesheet" href=" /css/plugins.css">
    <link rel="stylesheet" href=" /css/style.css">
</head>
<body><!--preloading-->
<div id="preloader"><img class="logo" src=" /images/logo1.png" alt="" width="119" height="58">
    <div id="status"><span></span><span></span></div>
</div><!--end of preloading--><!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content"><a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="login.php">
            <div class="row"><label for="username">Username:<input type="text" name="username" id="username"
                                                                   placeholder="Hugh Jackman"
                                                                   pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
                                                                   required="required"/></label></div>
            <div class="row"><label for="password"> Password:<input type="password" name="password" id="password"
                                                                    placeholder="******"
                                                                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                                    required="required"/></label></div>
            <div class="row">
                <div class="remember">
                    <div><input type="checkbox" name="remember" value="Remember me"><span>Remember me</span></div>
                    <a href="#">Forget password ?</a></div>
            </div>
            <div class="row">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="row"><p>Or via social</p>
            <div class="social-btn-2"><a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a><a
                    class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a></div>
        </div>
    </div>
</div><!--end of login form popup--><!--signup form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content"><a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="signup.php">
            <div class="row"><label for="username-2">Username:<input type="text" name="username" id="username-2"
                                                                     placeholder="Hugh Jackman"
                                                                     pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$"
                                                                     required="required"/></label></div>
            <div class="row"><label for="email-2"> your email:<input type="password" name="email" id="email-2"
                                                                     placeholder=""
                                                                     pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                                     required="required"/></label></div>
            <div class="row"><label for="password-2"> Password:<input type="password" name="password" id="password-2"
                                                                      placeholder=""
                                                                      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                                      required="required"/></label></div>
            <div class="row"><label for="repassword-2"> re-type Password:<input type="password" name="password"
                                                                                id="repassword-2" placeholder=""
                                                                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                                                required="required"/></label></div>
            <div class="row">
                <button type="submit">sign up</button>
            </div>
        </form>
    </div>
</div><!--end of signup form popup--><!-- BEGIN | Header -->
<header class="ht-header full-width-hd" id="header-light">
    <div class="row">
        <nav id="mainNav" class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
                        class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1"><span></span><span></span><span></span></div>
                </div>
                <a href="index_light.html"><img class="logo" src=" /images/logo.png" alt="" width="200" height="100"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
                                                  data-hover="dropdown">홈 </a>
                    </li>

                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/anonymousNews}">뉴스게시판</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/news}">뉴스게시판</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="btn">
                        <a sec:authorize="isAnonymous()" th:href="@{/join}">회원가입</a>
                    </li>

                    <li>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    </li>
                    <li class="btn">
                        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{'/member/mypage/' + ${currentUserId}}">
                            마이페이지</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse --></nav><!-- search form --></div>
</header><!-- END | Header -->
<div class="buster-light">
    <div class="hero hero3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1>movie listing - list</h1><ul class="breadcumb"><li class="active"><a href="#">Home</a></li><li><span class="ion-ios-arrow-right"></span>movie listing</li></ul>--></div>
            </div>
        </div>
    </div><!-- celebrity single section-->
    <div class="page-single movie-single cebleb-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-ceb"><img th:src="${director.directorProfile}" alt=""></div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct">
                        <h1 class="bd-hd" th:text="${director.directorName}"></h1>
                        <p class="ceb-single">Actor | Producer</p>
                        <div class="social-link cebsingle-socail"><a href="#"><i class="ion-social-facebook"></i></a><a
                                href="#"><i class="ion-social-twitter"></i></a><a href="#"><i
                                class="ion-social-googleplus"></i></a><a href="#"><i
                                class="ion-social-linkedin"></i></a></div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#filmography">filmography</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="filmography" class="tab active">
                                        <div class="row">
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src="../images/uploads/film1.jpg" alt="">
                                                        <div><a href="#">X-Men: Apocalypse</a>
                                                            <p class="time">Logan</p></div>
                                                    </div>
                                                    <p>... 2016</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film2.jpg" alt="">
                                                        <div><a href="#">Eddie the Eagle</a>
                                                            <p class="time">Bronson Peary</p></div>
                                                    </div>
                                                    <p>... 2015</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film3.jpg" alt="">
                                                        <div><a href="#">Me and Earl and the Dying Girl</a>
                                                            <p class="time">Hugh Jackman</p></div>
                                                    </div>
                                                    <p>... 2015</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film4.jpg" alt="">
                                                        <div><a href="#">Night at the Museum 3</a>
                                                            <p class="time">Blackbeard</p></div>
                                                    </div>
                                                    <p>... 2014</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film5.jpg" alt="">
                                                        <div><a href="#">X-Men: Days of Future Past</a>
                                                            <p class="time">Wolverine</p></div>
                                                    </div>
                                                    <p>... 2012</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film6.jpg" alt="">
                                                        <div><a href="#">The Wolverine</a>
                                                            <p class="time">Logan</p></div>
                                                    </div>
                                                    <p>... 2011</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film7.jpg" alt="">
                                                        <div><a href="#">Rise of the Guardians</a>
                                                            <p class="time">Bunny</p></div>
                                                    </div>
                                                    <p>... 2011</p></div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film"><img
                                                            src=" /images/uploads/film8.jpg" alt="">
                                                        <div><a href="#">The Prestige</a>
                                                            <p class="time">Robert Angier</p></div>
                                                    </div>
                                                    <p>... 2010</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- celebrity single section--></div><!-- footer section-->
<footer class="ht-footer full-width-ft">
    <div class="row">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1"><a href="index.html"><img class="logo" src="/images/logo.png" alt=""></a>
                <p>5th Avenue st, manhattan<br> New York, NY 10001</p>
                <p>Call us: <a href="#">(+01) 202 342 6789</a></p></div>
            <div class="flex-child-ft item2"><h4>Resources</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blockbuster</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3"><h4>Legal</h4>
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4"><h4>Account</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Watchlist</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">User Guide</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5"><h4>Newsletter</h4>
                <p>Subscribe to our newsletter system now <br>to get latest news from us.</p>
                <form action="#"><input type="text" placeholder="Enter your email"></form>
                <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a></div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left"><p>© 2017 Blockbuster. All Rights <a href="http://www.bootstrapmb.com/"
                                                                      title="bootstrapmb">Reserved</a>. Designed by
                leehari.</p></div>
            <div class="backtotop"><p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a>
            </p></div>
        </div>
    </div>
</footer><!-- end of footer v2 section-->
<script src=" /js/jquery.js"></script>
<script src=" /js/plugins.js"></script>
<script src=" /js/plugins2.js"></script>
<script src=" /js/custom.js"></script>
</body>
</html>