<!-- 추천 1-->
<div class="title-hd">
    <h2>나와 비슷한 취향의 사람들이 좋아하는 영화</h2>
</div>
<div class="tabs">
<!--    <ul class="tab-links-2">-->
<!--        <li class="active"><a href="#tab21-h2">#Popular</a></li>-->
<!--        <li><a href="#tab22-h2"></a></li>-->
<!--    </ul>-->
    <div class="tab-content">
        <div id="tab1-h2" class="tab active">
            <div class="row">
                <div class="slick-multiItem2">
                    <div th:each="reviewRecommendList : ${reviewRecommendList}" class="slide-it">
                        <div class="movie-item">
                            <div class="mv-img">
                                <img th:src="${reviewRecommendList.movieProfile}" alt="" style="height: 250px;">
                            </div>
                            <div class="hvr-inner">
                                <a th:href="@{'/main/movie/' + ${reviewRecommendList.movieId}}">Read more <i class="ion-android-arrow-dropright"></i></a>
                            </div>
                            <div class="title-in">
                                <h6><a href="#" th:text="${reviewRecommendList.movieName}"></a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span>/10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<!-- 추천 2-->
<div class="title-hd">
    <h2 th:text="${seasons[0].seasonName} + '에 봐야할 영화'"></h2>
</div>
<div class="tabs">
    <ul class="tab-links-2">
        <li class="active"><a href="#tab21-h2">#Popular</a></li>
        <li><a href="#tab22-h2">#Coming soon</a></li>
        <li><a href="#tab23-h2"> #Top rated </a></li>
        <li><a href="#tab24-h2">#Most reviewed</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab2-h2" class="tab active">
            <div class="row">
                <div class="slick-multiItem2">
                    <div th:each="season : ${seasons}" class="slide-it">
                        <div class="movie-item">
                            <div class="mv-img"><img th:src="${season.getMovie().movieProfile}" alt="" style="height: 250px;">
                            </div>
                            <div class="hvr-inner">
                                <a th:href="@{'/main/movie/' + ${season.getMovie().movieId}}">Read more <i class="ion-android-arrow-dropright"></i></a>
                            </div>
                            <div class="title-in">
                                <h6><a href="#" th:text="${season.getMovie().movieName}"></a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span>/10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- 추천 3-->
        <div class="title-hd">
            <h2>선호하는 국가의 영화</h2>
        </div>
        <div class="tabs">
            <ul class="tab-links-2">
                <li class="active"><a href="#tab21-h2">#Popular</a></li>
                <li><a href="#tab3-h2"></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab3-h2" class="tab active">
                    <div class="row">
                        <div class="slick-multiItem2">
                            <div th:each="recNationList : ${recNationList}" class="slide-it">
                                <div class="movie-item">
                                    <div class="mv-img">
                                        <img th:src="${recNationList.movieProfile}" alt="" style="height: 250px;">
                                    </div>
                                    <div class="hvr-inner"><a th:href="@{'/main/movie/' + ${recNationList.movieId}}">Read more <i class="ion-android-arrow-dropright"></i></a>
                                    </div>
                                    <div class="title-in">
                                        <h6><a href="#" th:text="${recNationList.movieName}"></a></h6>
                                        <p><i class="ion-android-star"></i><span>7.4</span>/10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- 추천 4-->
                <div class="title-hd">
                    <h2>선호하는 국가의 영화</h2>
                </div>
                <div class="tabs">
                    <ul class="tab-links-2">
                        <li class="active"><a href="#tab21-h2">#Popular</a></li>
                        <li><a href="#tab22-h2"></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab4-h2" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem2">
                                    <div th:each="recNationList : ${recNationList}" class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img th:src="${recNationList.movieProfile}" alt="" style="height: 250px;">
                                            </div>
                                            <div class="hvr-inner"><a th:href="@{'/main/movie/' + ${recNationList.movieId}}">Read more <i class="ion-android-arrow-dropright"></i></a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="#" th:text="${recNationList.movieName}"></a></h6>
                                                <p><i class="ion-android-star"></i><span>7.4</span>/10</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>