<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head><!-- Basic need --><title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#"><!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no"><!-- CSS files -->
    <link rel="stylesheet" href="../../css/plugins.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

<header class="ht-header full-width-hd" id="header-light">
    <div class="row">
        <nav id="mainNav" class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
                        class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1"><span></span><span></span><span></span></div>
                </div>
                <a href="index_light.html"><img class="logo" src="/images/logo.png" alt="" width="200" height="100"></a>
            </div><!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li class="dropdown first"><a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
                                                  data-hover="dropdown" th:href="@{/main}">홈 </a>
                    </li>

                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/anonymousNews}">뉴스게시판</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/news}">뉴스게시판</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="btn">
                        <a sec:authorize="isAnonymous()" th:href="@{/join}">회원가입</a>
                    </li>

                    <li>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                    </li>
                    <!--                    <li class="btn">-->
                    <!--                        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{'/member/mypage/' + ${currentUserId}}">-->
                    <!--                            마이페이지</a>-->
                    <!--                    </li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav><!-- search form -->
    </div>
</header><!-- END | Header -->

<!-- 배너 -->
<div class="slider sliderv2">
    <div class="container">
        <div class="row">
            <div class="slider-single-item">
                <div class="movie-item">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="title-in">
                                <div class="cate"><span class="blue"><a href="#">Box Office</a></span><span
                                        class="yell"><a
                                        href="#">NEW</a></span><span class="orange"><a href="#">Movie</a></span>
                                </div>
                                <br>
                                <h1><a href="#"><span>with MOVIEWIKI</span><br>최신 영화도 <br>MOVIEWIKI 와<br>함께 하세요!
                                </a></h1>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="mv-img-2"><a href="#"><img src="../img/news6.jpeg" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="title-in">
                                <div class="cate"><span class="blue"><a href="#">Sci-fi</a></span><span class="yell"><a
                                        href="#">Action</a></span><span class="orange"><a href="#">advanture</a></span>
                                </div>
                                <h1><a href="#">guardians of the<br> galaxy <span>2015</span></a></h1>
                                <div class="social-btn"><a href="#" class="parent-btn"><i class="ion-play"></i>Watch
                                    Trailer</a><a href="#" class="parent-btn"><i class="ion-heart"></i>Add to
                                    Favorite</a>
                                    <div class="hover-bnt"><a href="#" class="parent-btn"><i
                                            class="ion-android-share-alt"></i>share</a>
                                        <div class="hvr-item"><a href="#" class="hvr-grow"><i
                                                class="ion-social-facebook"></i></a><a href="#" class="hvr-grow"><i
                                                class="ion-social-twitter"></i></a><a href="#" class="hvr-grow"><i
                                                class="ion-social-googleplus"></i></a><a href="#" class="hvr-grow"><i
                                                class="ion-social-youtube"></i></a></div>
                                    </div>
                                </div>
                                <div class="mv-details"><p><i class="ion-android-star"></i><span>7.4</span>/10</p>
                                    <ul class="mv-infor">
                                        <li> Run Time: 2h21’</li>
                                        <li>Rated: PG-13</li>
                                        <li>Release: 1 May 2015</li>
                                    </ul>
                                </div>
                                <div class="btn-transform transform-vertical">
                                    <div><a href="#" class="item item-1 redbtn">more detail</a></div>
                                    <div><a href="#" class="item item-2 redbtn hvrbtn">more detail</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="mv-img-2"><a href="#"><img src="../images/uploads/poster1.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 로그인 전 main START -->
<div sec:authorize="isAnonymous()">
    <div class="buster-light">
        <div class="movie-items  full-width">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-hd"><h2>평점이 높은 영화</h2></div>
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1-h2">#Top rated</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1-h2" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem2">
                                        <div th:each="movie : ${movieRating}" class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img"><img th:src="${movie.movieProfile}" alt="" style="height: 250px;">
                                                </div>
                                                <div class="hvr-inner"><a th:href="@{'/main/nonMember_movie/' + ${movie.movieId}}">Read more <i
                                                        class="ion-android-arrow-dropright"></i></a></div>
                                                <div class="title-in"><h6><a href="#" th:text="${movie.movieName}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span th:text="${movie.avgRating}"></span>/5</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd"><h2>리뷰 많은 영화</h2><</div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li class="active"><a href="#tab21-h2">#Most reviewed</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab2-h2" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem2">
                                        <div th:each="movie : ${movieReviewCount}" class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img"><img th:src="${movie.movieProfile}" alt="" style="height: 250px;">
                                                </div>
                                                <div class="hvr-inner"><a th:href="@{'/main/nonMember_movie/' + ${movie.movieId}}">Read more <i
                                                        class="ion-android-arrow-dropright"></i></a></div>
                                                <div class="title-in"><h6><a href="#" th:text="${movie.movieName}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span th:text="${movie.avgRating}"></span>/5</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd"><h2>최신순 영화</h2><</div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li class="active"><a href="#tab21-h2">#Latest movies</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab3-h2" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem2">
                                        <div th:each="movie : ${movieDate}" class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img"><img th:src="${movie.movieProfile}" alt="" style="height: 250px;">
                                                </div>
                                                <div class="hvr-inner"><a th:href="@{'/main/nonMember_movie/' + ${movie.movieId}}">Read more <i
                                                        class="ion-android-arrow-dropright"></i></a></div>
                                                <div class="title-in"><h6><a href="#" th:text="${movie.movieName}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span th:text="${movie.avgRating}"></span>/5</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- 로그인 전 main  END -->

<!-- footer section START -->
<footer class="ht-footer full-width-ft">
    <div class="row">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1"><a href="index.html"><img class="logo" src="/images/logo.png" alt="" ></a>
                <p>5th Avenue st, manhattan<br> New York, NY 10001</p>
                <p>Call us: <a href="#">(+01) 202 342 6789</a></p></div>
            <div class="flex-child-ft item2"><h4>Resources</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blockbuster</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Help Center</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3"><h4>Legal</h4>
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4"><h4>Account</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Watchlist</a></li>
                    <li><a href="#">Collections</a></li>
                    <li><a href="#">User Guide</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5"><h4>Newsletter</h4>
                <p>Subscribe to our newsletter system now <br>to get latest news from us.</p>
                <form action="#"><input type="text" placeholder="Enter your email"></form>
                <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a></div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left"><p>© 2017 Blockbuster. All Rights <a href="http://www.bootstrapmb.com/"
                                                                      title="bootstrapmb">Reserved</a>. Designed by
                leehari.</p></div>
            <div class="backtotop"><p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a>
            </p></div>
        </div>
    </div>
</footer><!-- end of footer v2 section-->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/plugins2.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>