<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--  <head>-->
<!--      <meta charset="UTF-8">-->
<!--      <title>Title</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div>-->
<!--      <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>#</th>-->
<!--          <th>이름</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="movie2 : ${movies2}">  &lt;!&ndash;리스트 안 모든 객체를 loop를 돌면서 아래 로직 실행&ndash;&gt;-->
<!--          <td th:text="${movie2.movie}"></td>-->
<!--          <td th:text="${actor.actorProfile}"></td>-->
<!--          <td th:text="${actor.actorId}"></td>-->
<!--          <td th:text="${actor.actorName}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--    <a href="/movie/create/actor">배우 등록</a>-->
<!--  </body>-->
<!--  <csrf disabled="true" /> &lt;!&ndash; true 시 비활성화. 기본값은 false &ndash;&gt;-->
<!--</html>-->