<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 페이지</title>
</head>
<body>
    <h1>아이디 찾기 페이지</h1>
    <div>
        <div>
          <span>로고</span>
          <span>아이디 찾기</span>
        </div>
        <div>
            <form action="/find_id" method="post">
                <div>
                    <input type="text" name="userName" placeholder="이름">
                </div>
                <div>
                    <input type="text" name="userMail" placeholder="이메일">
                </div>
                <div>
                    <input type="submit" value="확인">
                </div>
            </form>
        </div>
    </div>
</body>
</html>