<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기 페이지</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="main_header" id="header"></div>
   <h1>비밀번호 찾기 페이지</h1>
      <div>
          <div>
              <span>로고</span>
              <span>비밀번호 찾기</span>
          </div>
          <div>
              <form action="/find_pw" method="post">
                  <div>
                      <input type="text" name="userId" placeholder="아이디">
                  </div>
                  <div>
                      <input type="text" name="userName" placeholder="이름">
                  </div>
                  <div>
                      <input type="text" name="userMail" placeholder="이메일">
                  </div>
                  <input type="submit" value="확인">
              </form>
          </div>
      </div>
</body>
</html>