<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <!-- HEADER -->
    <div th:insert="main_header" id="header"></div>

    <h1>로그인 페이지</h1>

    <form action="/login" method="post">

        <div>
            <input type="text" name="username" placeholder="아이디"><br>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호"><br>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
    <div>
        <a href="/find_id">아이디 찾기</a>
        /
        <a href="/find_pw">비밀번호 찾기</a><br>
    </div>
    <div>
        계정이 없으신가요? <a href="/join">회원가입</a>
    </div>
</body>
</html>
