<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>로고</h1>
    <div>
        <span>
            <a sec:authorize="isAnonymous()" th:href="@{/login}">
                <button>로그인</button>
            </a>
        </span>
        <span>
            <a sec:authorize="isAnonymous()" th:href="@{/join}">
                <button>회원가입</button>
            </a>
        </span>
    </div>
    <div>
        <span>
            <a sec:authorize="isAnonymous()" th:href="@{/news}">
                <button>뉴스게시판</button>
            </a>
        </span>
    </div>
    <div sec:authorize="isAuthenticated()">
<!--        (밑에꺼 완성될때 지우기 - 로그인 유저 확인 테스트용)-->
        <span sec:authentication="name"></span>님
        <span>
            <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/member/mypage}">
              <button>마이페이지</button>
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/admin_news}">어드민</a>
        </span>
        <span>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                <button>로그아웃</button>
            </a><br>
        </span>
    </div>
    <div>
        <a sec:authorize="isAuthenticated()" th:href="@{/news}">
            <button>뉴스게시판</button>
        </a>
    </div>
    <hr>
</body>
</html>