<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>news detail</title>
  <style>
    .newsList {
      width:1000px;
      text-align: right;
    }
    .title_date {
      border:1px solid black;
      height: 50px;
      width:1000px;
    }
    .newsTitle {
      float:left;
      margin-left: 20px;
    }
    .newsDate {
      float:right;
      margin-right: 20px;
    }
    .newsContent {
      margin-top: 20px;
      border:1px solid black;
      width:1000px;
      height:500px;
    }
  </style>
</head>
<body>
  <!-- HEADER -->
  <div th:insert="main_header" id="header"></div>

  <h1>뉴스 상세보기</h1>
  <div class="newsList">
      <span>
          <a sec:authorize="isAnonymous()" th:href="@{/anonymousNews}">
              <button>목록</button>
          </a>
      </span>
      <span>
          <a sec:authorize="isAuthenticated()" th:href="@{/news}">
              <button>목록</button>
          </a>
      </span>
  </div>
  <div class="title_date">
    <div class="newsTitle">
      <p th:text="${news.newsTitle}"></p>
    </div>
    <div class = "newsDate">
      <p th:text="${#temporals.format(news.newsDate, '20yy/MM/dd HH:mm')}"></p>
    </div>
  </div>
  <div class="newsContent">
    <img th:src="@{'/img/' + ${news.newsFile}}">
    <p th:text="${news.newsContent}"></p>
  </div>
</body>
</html>