<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선호 장르</title>
</head>
<body>
<h1>선호 장르</h1>
<hr>
<div>
    <table border="1">
        <tbody>

        <th>영화 제목</th>
        <th>영화 포스터</th>
        <th>개봉일</th>
        <th>평점</th>
        <tr th:each="recMovieList : ${recMovieList}">
            <td th:text="${recMovieList.movieName}"></td>
            <td th:text="${recMovieList.movieProfile}"></td>
            <td th:text="${recMovieList.releaseDate}"></td>
            <td th:text="${recMovieList.avgRating}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>