<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선호 장르</title>
</head>
<body>
<h1>선호 장르</h1>
<hr>
<div>
    <table border="1">
        <tbody>
        <th>장르</th>
        <th>유저</th>

<!--        <tr th:each="prefGenre : ${prefGenres}">-->
<!--            <td th:text="${prefGenre.getGenre().getGenreId()}">장르</td>-->
<!--            <td th:text="${prefGenre.getUser().getUserId()}">유저</td>-->
<!--            <td th:="${prefGenre.getGenrePoint()}"></td>-->

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>