<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8">
      <title>read ActorForm</title>
  </head>
  <body>
    <h1>배우 중복 체크</h1>
    <hr>
    <form action="/movie/read/actor" method="post">
      <input type="text" id="actorName" name="actorName">
      <input type="submit" value="중복 확인">
    </form>
    <div>
      <table>
        <!--<thead>
        <tr>
          <th>배우 이미지</th>
          <th>배우 코드</th>
          <th>배우 이름</th>
&lt;!&ndash;          <th>배우 대표작1</th>&ndash;&gt;
&lt;!&ndash;          <th>배우 대표작2</th>&ndash;&gt;
        </tr>
        </thead>-->
        <tbody>
        <tr th:each="actor : ${actors}">  <!--리스트 안 모든 객체를 loop를 돌면서 아래 로직 실행-->
          <td th:text="${actor.actorProfile}"></td>
          <td th:text="${actor.actorId}"></td>
          <td th:text="${actor.actorName}"></td>
<!--          <td th:text="${actor.movieName}"></td>-->
<!--          <td th:text="${actor.movieName}"></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    $('input[type="submit"]').on('click', function(e){
        e.preventDefault();
    });
  </script>
</html>